In [9]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

In [10]:
data={
    "text":[
        "Win money now",
        "Limited offer just for you",
        "Hi,How are you?",
        "call me tomorrow",
        "Free tickets available",
        "Congragulations,you won!",
        "Are you coming to the party?",
        "Let's grab lunch today",
        "Earn extra cash fast",
        "Meet at 3pm",
    ],
    "label":[1,1,0,0,1,1,0,0,1,0]
}

In [11]:
df=pd.DataFrame(data)
df

                           text  label
0                 Win money now      1
1    Limited offer just for you      1
2               Hi,How are you?      0
3              call me tomorrow      0
4        Free tickets available      1
5      Congragulations,you won!      1
6  Are you coming to the party?      0
7        Let's grab lunch today      0
8          Earn extra cash fast      1
9                   Meet at 3pm      0

In [12]:
vectorizer=CountVectorizer()
x=vectorizer.fit_transform(df["text"])
y=df["label"]

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)
model=MultinomialNB()

model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [14]:
model.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [15]:
print("Accuracy:", accuracy_score(y_test, y_pred))
print("Classification Report:\n", classification_report(y_test, y_pred))

Accuracy: 1.0
Classification Report:
               precision    recall  f1-score   support

           1       1.00      1.00      1.00         2

    accuracy                           1.00         2
   macro avg       1.00      1.00      1.00         2
weighted avg       1.00      1.00      1.00         2

In [16]:
new_messages=["Win a Free Laptop now","Let's have a meeting today"]
new_features=vectorizer.transform(new_messages)
predictions=model.predict(new_features)

In [17]:
for msg, label in zip(new_messages, predictions):
 print (f"'{msg}' -> {'Spam' if label == 1 else 'Not Spam'}")

'Win a Free Laptop now' -> Spam
'Let's have a meeting today' -> Not Spam